@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: 'Cabin';
    background-color: #e0e3e8;
    text-align: center;
    margin: 0px;
    padding:0px;
}

#tentacles {
    width: 50px;
}

.header {
    display: flex;
    font-family: 'New Amsterdam';
    font-size: 2em;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    color: #758190;
    padding: 0px;
    margin:0px;
}

.stats-container {
    display: flex;
    flex-direction: row;
    align-items: top;
}

/* Removed the below hover effect because it gives impression that the stats container is clickable- bad ux design
.stats-container:hover {
    cursor: pointer;
    box-shadow: 0 0 30px darkslategrey;
}*/

.stats-card {
    background-color: #536075;
    color: white;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #FFFFFF;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
    transition: box-shadow .3s ease;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 22px rgba(33,33,33,.5);
}

#button-container {
    text-align: center;
}

button {
    font-family: 'Cabin';
    border: 2px solid;
    border-color: #e0e3e8;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
    transition: all .2s ease;
    background-color:#f7f9fb;
}

/* Added hover states to buttons to emphasize state */

button:hover {
    cursor: pointer;
    background-color: #868e9c !important;
    color: white;
    border-color: #868e9c;
    transition: all .2s ease;
}

button:active {
    background-color:#868e9c;
    color: white;
    transition: all .2s ease;
}

button:focus {
    border-width: 2px;
    border-color:#758190;
    background-color: #e0e3e8;
    transition: all .2s ease;
}